{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template plenumform_jitsi/main

    This template will render the Plenary meeting Basic form main content

    Variables required for this template:
    * instance - Plenary meeting instance record
    * contextid - Module contextid
    * delay - Interval length

    Variables optional for this template:

    Example context (json):
    {
       "contextid": 3,
       "instance": {
           "name": "Meeting"
       },
       "delay": 3000,
       "options": "{}"
    }

}}
{{# instance }}
    {{< mod_plenum/main }}
        {{$ formcontent }}
            <div class="m-3 col col-12">
                <div class="alert alert-info">{{# str }} joinmessage, plenumform_jitsi {{/ str }}</div>
                <button data-action="joinroom" class="btn btn-primary">{{# str }} joinroom, plenumform_jitsi {{/ str }}</button>
            </div>
            <div class="col col-12 col-md-2 col-lg-3"></div>
            <div id="meet" class="col col-12 col-md-8 col-lg-6 ratio-1x1 text-center m-2"></div>
        {{/ formcontent }}
    {{/ mod_plenum/main }}
{{/ instance }}
{{# js }}
    require([
        'plenumform_jitsi/media_manager'
    ], function(MediaManager) {
        new MediaManager({{ contextid }}, {{ delay }}, '{{ server }}', {{{ options }}});
    });
{{/ js }}
